
<h1>the name team is s {{data.name}}</h1>

<ul>
{{#each data.teams as |item|}}
  <img src="{{item.crestUrl}}" alt="soccer-crest" width="100px" height="100px"/>

  <li>{{item.name}}</li>
{{/each}}
</ul>
