
<div class="container-sm" id="title">
    <h1> Premier League Teams </h1>
</div>

</hr>

<div class="container-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Team Crud</th>
        <th scope="col">Name</th>
        <th scope="col"><a href="/new-team">Create a new team</a></th>
      </tr>
    </thead>
    <tbody>
        {{#each data.teams as |item|}}
      <tr>
        <td><img src="{{item.crestUrl}}" alt="soccer-crest" width="100px" height="100px"/></td>
        <td>{{item.name}}</td>
        <td colspan="2"><a href="/team/?tla={{item.tla}}">view</a> / modify / delete </td>
      </tr>
          {{/each}}
    </tbody>
  </table>
</div>